[submodule "Zahra/vendor/spdlog"]
	path = Zahra/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zahra/vendor/GLFW"]
	path = Zahra/vendor/GLFW
	url = https://github.com/TheCherno/glfw
