# engine output
profiling/
*.log
**/editor_config.yml

# binaries
**/bin-int/
**/bin/
**/Intermediates/
**/Binaries/
!vendor/premake/bin/

# vs files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# directories

Zahra/vendor/VulkanSDK
Meadow/Cache/
scripts/__pycache__
.Rproj.user
doxy/
