################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# directories

/.vs/Zahra
/Zahra.sln
/bin/
/bin-int/

# files

*.user
/Zahra/vendor/Glad/Glad.vcxproj
/Zahra/vendor/Glad/Glad.vcxproj.filters
