[submodule "Zahra/vendor/spdlog"]
	path = Zahra/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = all
[submodule "Zahra/vendor/GLFW"]
	path = Zahra/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	ignore = all
[submodule "Zahra/vendor/glm"]
	path = Zahra/vendor/glm
	url = https://github.com/g-truc/glm
	ignore = all
